@font-face {
  font-family: merryweather;
  src: url(../images/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: merryweather-italic;
  src: url(../images/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
  font-family: merryweather-bold;
  src: url(../images/Merriweather/Merriweather-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: merryweather;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #faebf8;
  margin: 0 auto;
  position: relative;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
nav .anchors {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
}
nav .anchors .button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.4);
  color: #290a25;
  padding: 0.3em 1em;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
nav .anchors .button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
nav .anchors .button:hover::after, nav .anchors .button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}
nav .cart {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .cart i {
  font-size: 24px;
  color: #591730;
  padding-right: 0px;
  transition: 200ms ease-in;
}
nav .cart i:hover {
  transform: scale(1.3);
}
nav .cart .button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.4);
  color: #290a25;
  padding: 0.3em 1em;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  margin-left: 50px;
}
nav .cart .button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
nav .cart .button:hover::after, nav .cart .button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.hero {
  min-height: calc(100% - 80px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/backup-mochi-banner-web.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
  margin-top: -80px;
  margin-bottom: -80px;
  text-align: center;
}
.hero h1 {
  color: #591730;
  font-size: 3rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: -50px;
}

.flavors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px auto 0 auto;
  min-height: calc(100vh - 160px);
  padding: 0 5rem;
  max-width: calc(100vw - 80px);
}
.flavors .flavor {
  max-width: 300px;
  min-width: 198px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 200px;
  height: 350px;
  box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.2);
  margin: 2rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.flavors .flavor img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  max-height: 200px;
  transition: 200ms transform ease-in-out;
}
.flavors .flavor h1 {
  font-size: 1.5rem;
  margin: 0 0.125em;
  text-align: center;
  font-family: merryweather;
}
.flavors .flavor p {
  font-size: 12px;
  text-align: center;
  font-family: merryweather;
}
.flavors .flavor button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  max-width: 50%;
  align-self: center;
  border: 1px solid #591730;
  color: #290a25;
  padding: 0.3em 1em;
  background-color: transparent;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
.flavors .flavor button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.flavors .flavor button:hover::after, .flavors .flavor button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.flavor:hover > img {
  transform: scale(1.025);
}

footer {
  height: 75px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}
footer i {
  color: #591730;
  padding: 0 5px;
  font-size: 20px;
  transition: 200ms ease-in;
}
footer i:hover {
  transform: scale(1.3);
}

.about-wrapper {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  flex-wrap: wrap;
}
.about-wrapper .about-img {
  min-width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-wrapper .about-img img {
  object-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 300px;
  height: auto;
  box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.2);
  border-radius: 2rem;
  transition: ease-in 450ms;
}
.about-wrapper .about-img img:hover {
  transform: scale(1.2);
}
.about-wrapper .about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin-left: 1em;
}
.about-wrapper .about-text h2 {
  color: #290a25;
  text-align: center;
}
.about-wrapper .about-text p {
  color: #290a25;
  text-align: center;
}

@media screen and (max-width: 836px) {
  .about-wrapper .about-img {
    margin: 3em 0;
  }
}
.form {
  min-height: calc(100vh - 240px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form input {
  padding: 20px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 1rem;
  border: 1px solid #591730;
  margin-bottom: 1rem;
}
.form input:focus {
  outline: 3px solid #591730;
}
.form label {
  margin-bottom: 0.5rem;
  font-family: merryweather;
  color: #290a25;
}
.form textarea {
  padding: 1rem;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 1rem;
  border: 1px solid #591730;
  min-height: 50px;
  overflow: hidden;
}
.form textarea:focus {
  outline: 3px solid #591730;
}
.form button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  align-self: center;
  border: 1px solid #591730;
  color: #290a25;
  padding: 0.825em 1em;
  background-color: transparent;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  margin-top: 1rem;
}
.form button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.form button:hover::after, .form button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.login-register-wrapper {
  min-height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.login-register-wrapper .login {
  min-height: calc(100vh - 240px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
}
.login-register-wrapper .login h1 {
  color: #290a25;
  font-family: merryweather-bold;
}
.login-register-wrapper .login input {
  padding: 20px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 1rem;
  border: 1px solid #591730;
  margin-bottom: 1rem;
}
.login-register-wrapper .login input:focus {
  outline: 3px solid #591730;
}
.login-register-wrapper .login label {
  font-family: merryweather;
  color: #290a25;
}
.login-register-wrapper .login button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  align-self: center;
  border: 1px solid #591730;
  color: #290a25;
  padding: 0.825em 1em;
  background-color: transparent;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
.login-register-wrapper .login button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.login-register-wrapper .login button:hover::after, .login-register-wrapper .login button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}
.login-register-wrapper .register {
  min-height: calc(100vh - 240px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
}
.login-register-wrapper .register h1 {
  color: #290a25;
  font-family: merryweather-bold;
}
.login-register-wrapper .register input {
  padding: 20px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 1rem;
  border: 1px solid #591730;
  margin-bottom: 1rem;
}
.login-register-wrapper .register input:focus {
  outline: 3px solid #591730;
}
.login-register-wrapper .register label {
  font-family: merryweather;
  color: #290a25;
}
.login-register-wrapper .register button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  align-self: center;
  border: 1px solid #591730;
  color: #290a25;
  padding: 0.825em 1em;
  background-color: transparent;
  font-family: merryweather;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
.login-register-wrapper .register button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #eec4be;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.login-register-wrapper .register button:hover::after, .login-register-wrapper .register button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

/*# sourceMappingURL=styles.css.map */
