.about-wrapper {
  min-height: calc(100vh - 160px);
  display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  // align-items: center;
  width: 100%;
  padding-right: 20px;
  flex-wrap: wrap;

  .about-img {
    min-width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      max-width: 300px;
      height: auto;
      // border: 2px solid $accent-color;
      box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.2);

      border-radius: 2rem;
      transition: ease-in 450ms;
    }

    img:hover {
      transform: scale(1.2);
    }
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin-left: 1em;

    h2 {
      color: $text-color;
      text-align: center;
    }

    p {
      color: $text-color;
      text-align: center;
    }
  }
}

@media screen and (max-width: 836px) {
  .about-wrapper {
    .about-img {
      margin: 3em 0;
    }
  }
}
