.flavors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  //   margin-top: 50px;
  margin: 50px auto 0 auto;
  min-height: calc(100vh - 160px);
  padding: 0 5rem;
  max-width: calc(100vw - 80px);

  .flavor {
    max-width: 300px;
    min-width: 198px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 200px;
    height: 350px;
    // border: 1px solid $primary-color;
    box-shadow: 3px 3px 5px 0 rgba(89, 23, 48, 0.2);
    margin: 2rem 2rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 300px;
      max-height: 200px;
      transition: 200ms transform ease-in-out;
    }

    h1 {
      font-size: 1.5rem;
      margin: 0 0.125em;
      text-align: center;
      font-family: $merry;
      color: $primary-color;
    }

    p {
      font-size: 12px;
      text-align: center;
      font-family: $merry;
      color: $accent-color;
    }

    button {
      @include site-button();
    }
  }
}

.flavor:hover > img {
  transform: scale(1.025);
}
