footer {
  height: 75px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;

  i {
    color: $primary-color;
    padding: 0 5px;
    font-size: 20px;
    transition: 200ms ease-in;
  }

  i:hover {
    transform: scale(1.3);
  }
}
