// site colors

$text-color: #290a25;
$background-color: #faebf8;
$primary-color: #591730;
$secondary-color: #eec4be;
$accent-color: #b23d2e;

// fonts

$merry: merryweather;
$merry-italic: merryweather-italic;
$merry-bold: merryweather-bold;